
.navbar-profile-pic img {
  border-radius: 90px;
  height: 150px;
  width: 150px;
  display: flex;
  vertical-align: middle;
  margin: 0 auto;
  margin-top: 30px;
}

.nav-item {
  color: white;
  /* margin-top: 30px; */
  margin-left: 25px;
}
.nav-link {
  margin-top: 35px;
  cursor: pointer;
}

.nav-link svg {
  margin-right: 10px;
}
.nav-link:hover {
  color: #f29f67;
}

.nav-link .active {
  color: #f29f67;
  border-left: 5px solid #f29f67;
  padding-left: 10px;
  text-decoration: none;
}
.theme-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #1e1e2c;
  margin:0px 12px;
  text-align: center;
  cursor: pointer;
  left:0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 1;
}